.About {
  overflow: hidden;
  main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('../images/Home/showcase.jpg') center center/cover no-repeat;
    & > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      p {
        width: 80%;
        margin: auto;
      }
    }
  }
  section {
    padding: 50px 0 50px 0;
    div.statistics {
      display: flex;
      justify-content: space-evenly;
      & > div {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        p,
        span {
          color: #000;
          margin: 0;
        }
        i {
          color: #000;
          font-size: 40px;
        }
      }
    }
  }
  section.categories {
    h1,
    p {
      color: #000;
    }
    div.statistics {
      & > div {
        box-shadow: none;
        span {
          font-weight: bold;
          font-size: 20px;
        }
        p {
          width: 80%;
          text-align: center;
        }
        i {
          margin-bottom: 20px;
          padding: 20px;
          border-radius: 50%;
          background: #f5f5f5;
          font-size: 50px;
          &:hover {
            background: #2d6cdf;
            color: #fff;
          }
        }
      }
    }
  }
}
