.About {
  overflow: hidden;
  main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('../images/Home/showcase.jpg') center center/cover no-repeat;
    & > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      p {
        width: 80%;
        margin: auto;
      }
    }
  }
  section {
    padding: 40px 0 40px 0;
    div.statistics {
      display: flex;
      justify-content: space-evenly;
      & > div {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        p,
        span {
          color: #000;
          margin: 0;
        }
        i {
          color: #000;
          font-size: 40px;
        }
      }
    }
  }
}
