.footer {
  background: #34495e;
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    .footer-section {
      &.about {
        padding-right: 0;
      }
      flex: 1;
      padding: 25px;
      .socials {
        display: flex;
        justify-content: space-evenly;
        a {
          position: relative;
          width: 50px;
          height: 50px;
          margin-top: 10px;
          display: inline-block;
          border-radius: 10px;
          &#fb {
            background-color: #3b5998;
          }
          &#insta {
            background: linear-gradient(
              45deg,
              #405de6,
              #5851db,
              #833ab4,
              #c13584,
              #e1306c,
              #fd1d1d
            );
          }
          &#twitter {
            background-color: #1c9cea;
          }
          &#tube {
            background-color: #ed0000;
          }
          i {
            font-size: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      ul {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          text-align: center;
          margin-bottom: 10px;
        }
        a {
          display: inline-block;
          margin: auto;
          text-decoration: none;
          font-size: 20px;
          color: #fff;
          border-bottom: 2px solid #34495e;
          &:hover {
            border-bottom: 2px solid #05f7ff;
          }
        }
      }
    }
    .contact-form {
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .contact-input {
          width: 90%;
          border-radius: 5px;
          background: #272727;
          color: #bebdbd;
          padding: 10px;
          border: none;
          outline: none;
        }
        button {
          background: #05f7ff;
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
