.Home {
  .showcase {
    margin-bottom: 30px;
    width: 100%;
    height: 600px;
    background-image: url('../images/Home/showcase1.jpg');
    background-size: cover;
    background-position: center center;
  }
  .features {
    width: 90%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    div.card {
      color: #fff;
      &:nth-child(odd) {
        background: #c70039;
      }
      &:nth-child(even) {
        background: #161d6f;
      }
      div.card-body {
        padding: 0 10px 10px 10px;
      }
      width: 30%;
      margin: 10px;
      .card-img-top {
        padding: 10px 0;
        i {
          font-size: 100px;
        }
      }
    }
  }
}
